<div class="header_main">
    <div class="logo_image">
        <a href="#">
            ZenduForms
        </a>
    </div>
    <div>
        <ul class="nav_menu">
            <li><a href="#"> <i class="fa-regular fa-list-ul icons"></i> <span>Forms</span></a></li>
            <li><a href="#"><i class="fa-solid fa-user-group icons"></i> <span>Customers</span></a></li>
            <li><a href="#"><i class="fa-solid fa-waveform-lines icons"></i> <span>Submissions</span></a></li>
            <li><a href="#"><i class="fa-regular fa-clock-rotate-left icons"></i> <span>History</span></a></li>
            <li><a href="#"><i class="fa-regular fa-square-poll-vertical icons"></i> <span>Reports</span></a></li>
            <li><a href="#"><i class="fa-regular fa-square-poll-vertical icons"></i> <span>Workflow</span></a></li>
        </ul>
    </div>

    <div class="media">
        <a href="#">
            <i class="fa-solid fa-bell"></i>
        </a>
        <a href="#">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </a>
    </div>
</div>