<div class="submisson_main">
    <h3 class="sub">Submissions</h3>
    <div class="overflow">
        <div class="flex">
            <div class="main">
                <div class="search">
                    <input matInput placeholder="Ex. Pizza" value="Search">
                    <i class="fa-solid fa-magnifying-glass searchicons"></i>
                </div>
                <div class="select_box">
                    <mat-form-field>
                        <select matNativeControl required>
                            <option value="volvo">Select Form</option>
                        
                        </select>
                    </mat-form-field>
                </div>
                <div class="select_box">
                    <mat-form-field>
                        <select matNativeControl required>
                            <option value="volvo">Select Status</option>
                          
                        </select>
                    </mat-form-field>
                </div>
                <div class="date_piker">
                    <mat-form-field appearance="fill">
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <input matInput [matDatepicker]="picker">
                    </mat-form-field>
                </div>
            </div>
            <div class="button_part">
                <div class="btn_part">
                    <button mat-button>Map</button>
                    <button mat-button>List</button>
                </div>
                <div class="export">
                    <i class="fa-solid fa-file-arrow-down icons"></i>
                    <span>Export</span>
                </div>
            </div>
        </div>
    </div>
    <div class="part_main">
        <div class="work_flow">
            <div class="workflow">
                <div class="uncom">
                    <h3>Work Flow: Requires Location</h3>
                    <button mat-button><span></span>Uncomplete</button>
                </div>
                <div class="search mail ">
                    <span>From:</span>
                    <input matInput placeholder="Ex. Pizza" value="denisgordiyenya@gmail.com">
                </div>
                <div class="search mail ">
                    <span>To:</span>
                    <input matInput placeholder="Ex. Pizza" value="denisgordiyenya@gmail.com">
                </div>
                <div class="search mail due_date ">
                    <span>Due Date::</span>
                    <input matInput placeholder="Ex. Pizza" value="06 December">
                </div>
            </div>
            <div class="workflow">
                <div class="uncom">
                    <h3>Work Flow: Requires Location</h3>
                    <button mat-button><span></span>Low Risk</button>
                </div>
                <div class="search mail ">
                    <span>From:</span>
                    <input matInput placeholder="Ex. Pizza" value="denisgordiyenya@gmail.com">
                </div>
                <div class="search mail ">
                    <span>To:</span>
                    <input matInput placeholder="Ex. Pizza" value="denisgordiyenya@gmail.com">
                </div>
                <div class="search mail due_date ">
                    <span>Due Date::</span>
                    <input matInput placeholder="Ex. Pizza" value="06 December">
                </div>
            </div>
            <div class="workflow">
                <div class="uncom">
                    <h3>Work Flow: Requires Location</h3>
                    <button mat-button><span></span>Uncomplete</button>
                </div>
                <div class="search mail ">
                    <span>From:</span>
                    <input matInput placeholder="Ex. Pizza" value="denisgordiyenya@gmail.com">
                </div>
                <div class="search mail ">
                    <span>To:</span>
                    <input matInput placeholder="Ex. Pizza" value="denisgordiyenya@gmail.com">
                </div>
                <div class="search mail due_date ">
                    <span>Due Date::</span>
                    <input matInput placeholder="Ex. Pizza" value="06 December">
                </div>
            </div>
            <div class="workflow">
                <div class="uncom">
                    <h3>Work Flow: Requires Location</h3>
                    <div class="btn_uncom">
                        <button mat-button><span></span>Needs Review</button>
                    </div>
                </div>
                <div class="search mail ">
                    <span>From:</span>
                    <input matInput placeholder="Ex. Pizza" value="denisgordiyenya@gmail.com">
                </div>
                <div class="search mail ">
                    <span>To:</span>
                    <input matInput placeholder="Ex. Pizza" value="denisgordiyenya@gmail.com">
                </div>
                <div class="search mail due_date ">
                    <span>Due Date::</span>
                    <input matInput placeholder="Ex. Pizza" value="06 December">
                </div>
            </div>
        </div>
        <div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=University of Oxford&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://piratebay-proxys.com/">Piratebay</a></div><style>.mapouter{position:relative;text-align:right;width:66.66%;height:auto;}.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:100%;}.gmap_iframe {height:100%!important;}</style></div>
    </div>
</div>